.color-palette {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0rem;
    padding: 0rem;
}

.color-box {
    text-align: center;
    height: 100%;
    flex: auto;
    width: 10%;
    margin: 0rem;
    transition: width 0.2s ease-in-out;
}

.color-box-action-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: content;
}

.canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.hex-color-button {
    margin-top: 5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: fit-content;
    text-decoration: none;
    color: white;
    transition: font-size 0.2s ease-in-out;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; 
}

.hex-color-button:hover {
    cursor: pointer;
    font-weight: bolder;
    font-size: 2rem;
}

.root {
    height: 100%;
    margin: 0;
}

.color-box:hover {
    width: 12%;
}

.color-box:hover .heart-button{
    visibility: visible;
}

.color-box:hover .delete-button{
    visibility: visible;
}

.heart-button:hover .heart{
    font-size: 3rem;
}

.heart-button {
    margin-top: 5rem;
    padding: 0.5rem;
    border: none;
    width: fit-content;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
}

.heart-button:hover {
    cursor: pointer;
}

.heart {
    transition: font-size 0.2s ease-in-out;
    font-size: 2.5rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; 
}

.delete-button:hover .delete {
    font-size: 3rem;
}

.delete-button {
    position: absolute;
    bottom: 0;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0.5rem;
    border: none;
    width: fit-content;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
}

.delete {
    transition: font-size 0.2s ease-in-out;
    font-size: 2.5rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; 
}